/*Caitlin Rouille - a3 Assignment*/

body {
    background:#ddd;
}

.container {
    border: 2px solid #ddd;
    width: 445px;
    padding-bottom: 15px;
    background:#fff;
    border:5px solid #506d7c;
}

.mg-top-20 {
  margin-top:20px;
}

.alert-info {
    padding:10px;
}

.view-error {
    color:red;
    margin-top:5px;
}
